In [1]:
import pymysql

In [2]:
# 연결 정보를 딕셔너리형 변수에 저장
connection_info = { "host": "localhost", "port": 3306, "db": "madang",
                    "user": "knitac", "password": "knitac",
                    "charset": "utf8" }

In [ ]:
# 1. madang 데이터베이스의 member 테이블에 데이터 삽입하는 코드 구현
# 데이터 1
#    memberid = 'iamuserone', passwd = 'iamuserone', 
#    email = 'iamuserone@example.com'
#    usertype = 'user', active = true, 
#    regdate=현재시간
# 데이터 2
#    memberid = 'iamadminone', passwd = 'iamadminone', 
#    email = 'iamadminone@example.com'
#    usertype = 'admin', active = true, 
#    regdate='2022-02-21'

In [4]:
# 1-1.
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

# 아래 DELETE 구문은 테스트용 선택 구문 ( 실제 작업에서는 필요 없는 구문 )
cursor.execute("DELETE FROM member WHERE memberid = 'iamuserone'") 
sql = """
    INSERT INTO member (memberid, passwd, email, usertype, active, regdate)
    VALUES ('iamuserone', 'iamuserone', 'iamuserone@example.com', 'user', true, now())
"""
cursor.execute(sql)

conn.commit()

cursor.close()
conn.close()

In [ ]:
# 1-2. sql과 데이터를 분리
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

# 아래 DELETE 구문은 테스트용 선택 구문 ( 실제 작업에서는 필요 없는 구문 )
cursor.execute("DELETE FROM member WHERE memberid = %s", ('iamuserone', )) 
sql = """
    INSERT INTO member (memberid, passwd, email, usertype, active, regdate)
    VALUES (%s, %s, %s, %s, true, now())
"""
cursor.execute(sql, ('iamuserone', 'iamuserone', 'iamuserone@example.com', 'user'))

conn.commit()

cursor.close()
conn.close()

In [7]:
# 1-3. 컬럼의 default value 활용
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

# 아래 DELETE 구문은 테스트용 선택 구문 ( 실제 작업에서는 필요 없는 구문 )
cursor.execute("DELETE FROM member WHERE memberid = %s", ('iamuserone', )) 
sql = """
    INSERT INTO member (memberid, passwd, email)
    VALUES (%s, %s, %s)
"""
cursor.execute(sql, ('iamuserone', 'iamuserone', 'iamuserone@example.com'))

conn.commit()

cursor.close()
conn.close()

In [ ]:
from datetime import datetime
now = datetime.now()
"{0:04d}-{1:02d}-{2:02d}".format(now.year, now.month, now.day)

In [10]:
# 1-4. 여러 개의 데이터를 한 번에 insert
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

# 아래 DELETE 구문은 테스트용 선택 구문 ( 실제 작업에서는 필요 없는 구문 )
cursor.execute("DELETE FROM member") 
sql = """
    INSERT INTO member (memberid, passwd, email, usertype, active, regdate)
    VALUES (%s, %s, %s, %s, %s, %s)
"""
from datetime import datetime
now = datetime.now()
today = "{0:04d}-{1:02d}-{2:02d}".format(now.year, now.month, now.day)
data = [
    ['iamuserone', 'iamuserone', 'iamuserone@example.com', 'user', True, today],
    ['iamadminone', 'iamadminone', 'iamadminone@example.com', 'admin', True, '2022-02-21']
]
cursor.executemany(sql, data) # executemany : 여러 개의 데이터를 한 번에 처리하는 함수

conn.commit()

cursor.close()
conn.close()

In [1]:
import pymysql

In [2]:
# 연결 정보를 딕셔너리형 변수에 저장
connection_info = { "host": "localhost", "port": 3306, "db": "madang",
                    "user": "knitac", "password": "knitac",
                    "charset": "utf8" }

In [ ]:
# 2. madang 데이터베이스의 board 테이블에 데이터 삽입하는 코드 구현
# 데이터 1
#    boardno = 자동증가기능사용 ( insert 문에 포함시키지 않으면 자동 처리 ), 
#    title = '첫 번째 게시글', 
#    writer = 'iamuserone' # member 테이블에 있는 데이터 사용 (foreign key이기 때문)
#    content = '처음 작성한 글입니다. 확인해 주세요 !!!'

In [3]:
try:
    conn = pymysql.connect(**connection_info)
    cursor = conn.cursor()
    cursor.execute("delete from board") # 테스트를 위해 작성하는 구문
    sql = """
        insert into board (title, writer, content)
        values (%s, %s, %s)
    """
    cursor.execute(sql, ('첫 번째 게시글', 'iamuserone', '처음 작성한 글. 확인해 주세요'))
    conn.commit() # 이전 작업을 확정 적용
except:
    conn.rollback() # 이전 작업을 취소
finally:
    cursor.close()
    conn.close()

In [5]:
# 3. member 테이블의 모든 데이터를 조회해서 화면에 출력
try:
    conn = pymysql.connect(**connection_info)
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM member")
    rows = cursor.fetchall()
    for row in rows:
        print(row)
except Exception as e:
    print(e) # 오류 메시지 출력 
finally: # 예외 발생 여부와 관계 없이 실행되는 영역
    cursor.close()
    conn.close()

('iamadminone', 'iamadminone', 'iamadminone@example.com', 'admin', 1, datetime.date(2022, 2, 21))
('iamuserone', 'iamuserone', 'iamuserone@example.com', 'user', 1, datetime.date(2022, 2, 24))