In [1]:
import pymysql

In [2]:
# 연결 정보를 딕셔너리형 변수에 저장
connection_info = { "host": "localhost", "port": 3306, "db": "madang",
                    "user": "knitac", "password": "knitac",
                    "charset": "utf8" }

In [ ]:
# 1. madang 데이터베이스의 member 테이블에 데이터 삽입하는 코드 구현
# 데이터 1
#    memberid = 'iamuserone', passwd = 'iamuserone', 
#    email = 'iamuserone@example.com'
#    usertype = 'user', active = true, 
#    regdate=현재시간
# 데이터 2
#    memberid = 'iamadminone', passwd = 'iamadminone', 
#    email = 'iamadminone@example.com'
#    usertype = 'admin', active = true, 
#    regdate='2022-02-21'

In [4]:
# 1-1.
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

# 아래 DELETE 구문은 테스트용 선택 구문 ( 실제 작업에서는 필요 없는 구문 )
cursor.execute("DELETE FROM member WHERE memberid = 'iamuserone'") 
sql = """
    INSERT INTO member (memberid, passwd, email, usertype, active, regdate)
    VALUES ('iamuserone', 'iamuserone', 'iamuserone@example.com', 'user', true, now())
"""
cursor.execute(sql)

conn.commit()

cursor.close()
conn.close()

In [ ]:
# 1-2. sql과 데이터를 분리
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

# 아래 DELETE 구문은 테스트용 선택 구문 ( 실제 작업에서는 필요 없는 구문 )
cursor.execute("DELETE FROM member WHERE memberid = %s", ('iamuserone', )) 
sql = """
    INSERT INTO member (memberid, passwd, email, usertype, active, regdate)
    VALUES (%s, %s, %s, %s, true, now())
"""
cursor.execute(sql, ('iamuserone', 'iamuserone', 'iamuserone@example.com', 'user'))

conn.commit()

cursor.close()
conn.close()

In [7]:
# 1-3. 컬럼의 default value 활용
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

# 아래 DELETE 구문은 테스트용 선택 구문 ( 실제 작업에서는 필요 없는 구문 )
cursor.execute("DELETE FROM member WHERE memberid = %s", ('iamuserone', )) 
sql = """
    INSERT INTO member (memberid, passwd, email)
    VALUES (%s, %s, %s)
"""
cursor.execute(sql, ('iamuserone', 'iamuserone', 'iamuserone@example.com'))

conn.commit()

cursor.close()
conn.close()

In [ ]:
from datetime import datetime
now = datetime.now()
"{0:04d}-{1:02d}-{2:02d}".format(now.year, now.month, now.day)

In [10]:
# 1-4. 여러 개의 데이터를 한 번에 insert
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

# 아래 DELETE 구문은 테스트용 선택 구문 ( 실제 작업에서는 필요 없는 구문 )
cursor.execute("DELETE FROM member") 
sql = """
    INSERT INTO member (memberid, passwd, email, usertype, active, regdate)
    VALUES (%s, %s, %s, %s, %s, %s)
"""
from datetime import datetime
now = datetime.now()
today = "{0:04d}-{1:02d}-{2:02d}".format(now.year, now.month, now.day)
data = [
    ['iamuserone', 'iamuserone', 'iamuserone@example.com', 'user', True, today],
    ['iamadminone', 'iamadminone', 'iamadminone@example.com', 'admin', True, '2022-02-21']
]
cursor.executemany(sql, data) # executemany : 여러 개의 데이터를 한 번에 처리하는 함수

conn.commit()

cursor.close()
conn.close()